{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>

    <body>

<style>
    /*.context-dark, .bg-gray-dark, .bg-primary {*/
    /*    color: rgba(255, 255, 255, 0.8);*/
    /*}*/


    /*.bs-example{*/
    /*    margin: 20px;*/
    /*}*/
/*.navbar-default {*/
/*    background-color: black;*/
/*    border-color: green;*/
/*}*/
.navbar-brand {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  /*font-family: Open Sans; */
  font-family: sans-serif !important; 
  /*font-size: 21px;*/
  font-weight: bold;
  border-color: 0.5px solid white;
}

.this-nav-bar {
    /*background-color: #18354c;*/
    background-color: #2b2d32;
    color: white;
    
}

</style>

<header role="banner">
  <!--<nav class="navbar navbar-inverse navbar-expand-lg">-->
  <nav class="navbar navbar-inverse navbar-expand-lg">
    <div class="container">
      <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <img id="logo-main" src="{% static 'blog/images/hb_logo.png' %}" width="200" alt="Logo Thing main logo">
        </div>
          
            <!-- Collapsible content -->
            <!--<div class="collapse navbar-collapse" id="basicExampleNav">-->
          <!--<form class="form-inline">-->
          <!--  <div class="md-form my-0">-->
          <!--    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
          <!--  </div>-->
          <!--</form>-->
            <ul class="navbar-nav">
              <li class="nav-item from-inline">
                <a class="btn btn-sm btn-primary px-3"  style="font-weight: bold;"  href="#">Join</a>
              </li>
              <li class="nav-item">
                <a class="btn text-dark" style="font-weight: bold;" href="#" style="">Sign&nbsp;In</a>
              </li>
            </ul>
        <!--</div>-->
      </div>
            <!-- Collapsible content -->
  </nav>  
  
  <nav class="navbar navbar-inverse navbar-expand-lg this-nav-bar">
    <div class="container">
      <div class="navbar-header">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
          
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
          
              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">HOME
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FEATURES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PRICING</a>
                </li>
          
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">DROPDOWN</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
            <ul class="nav navbar-nav ml-auto">
                    <a href="#" class="nav-link"><i class="fa fa-camera-retro fa-lg"></i></a>
                <li>
                    <a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
                <li>
                    <a href="#" class="nav-link"><i class="fa fa-pinterest fa-lg"></i></a>
                </li>
            </ul>          
              </ul>
              <!-- Links -->
              </div>

      </div>
            <!-- Collapsible content -->
  </nav>  
  <!--</div>-->

      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}

   {% block footer %} {% include 'blog/footer.html' %} {% endblock footer %}
    <!--</div>-->
    </body>
</html>