{% extends "blog/base.html" %} 
{% block content %}
{% load static %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    /*.card {*/
    /*    box-shadow: 0 16px 48px #E3E7EB;*/
    /*}*/
    
.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
/*.carousel-control.left,*/
/*.carousel-control.right { */
/*    margin-right: 40px;*/
/*    margin-left: 32px; */
/*    background-image: none;*/
/*    opacity: 1;*/
/*}*/
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    float: left;
 }

.carousel-inner > .item > .carousel-col {
    border: 1px solid red;
    /*margin-left: 2px;*/
    padding-right: 5px;
}
 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}


.big-box {
    height: 505px;
    background-color: black;
}

.mini-box {
    height: 250px;
    /*padding-top: 15px;*/
    /*margin-top: 10px;*/
    background-color: black;
}

.mini-box, 
.big-box {
    /*border: 1px solid red;*/
    color: white;
    text-align: center;
    /*margin: 2px;*/
    /*margin-top: 20px;*/
    /*font-size: 1.5em;*/
}


.caro-item img  {
  width: 100%;
  background-color: black;
}

.mini-box,
.big-box img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.col-md-4 > .row ~ .row {
    /*border: 1px solid red;*/
    /*background-color: blue;*/
    padding-top: 5px;
    margin-top: 5px;
} 

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}



table td {
  color:white;
}

/*.col-md-8, .col-md-4 {*/
    /*border: 1px solid red;*/
/*}*/

/*.big-box img.wide {*/
/*        max-width: 100%;*/
/*    max-height: 100%;*/
/*    height: auto;*/
/*}*/
</style>


<div class="container" style="padding-top: 15px;">
    <div class="row">
        <div class="col-md-8">
              <div class="big-box">
            {% comment %}
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="padding-top: 15px;">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active caro-item">
                    <img class="img-fluid" src="https://i.imgur.com/NuqugTD.jpg" alt="First slide">
                  <!--<div class="carousel-caption d-none d-md-block">-->
                  <!--  <h5>First slide label</h5>-->
                  <!--  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                  <!--</div>-->
                  </div>
                  <div class="carousel-item caro-item">
                    <img class="img-fluid" src="https://i.imgur.com/pBmNhc1.jpg" alt="Second slide">
                      <!--<div class="carousel-caption d-none d-md-block">-->
                      <!--  <h5>First slide label</h5>-->
                      <!--  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                      <!--</div>-->
                  </div>
                  <div class="carousel-item caro-item">
                    <img class="img-fluid" src="https://i.imgur.com/ZccahuC.jpg" alt="Third slide">
                  <!--<div class="carousel-caption d-none d-md-block">-->
                  <!--  <h5>First slide label</h5>-->
                  <!--  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                  <!--</div>-->
                  </div>
                </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
              </div>
       {% endcomment %}
       <!--<img src="https://i.imgur.com/8jqYvFL.jpg" />-->
                    <img class="img-fluid" src="https://i.imgur.com/4svLfsW.jpg" style="height: 505px;">
          </div>
      </div>
      
         <div class="col-md-4">
            <div class="row">
                 <div class="col">
                     <div class="mini-box">
                        <img class="img-fluid" src="https://i.imgur.com/7PSWr7s.jpg" style="height: 250px;">
                     </div>
                 </div>
            </div>
            <div class="row">
                 <div class="col">
                     <div class="mini-box">
                        <img class="img-fluid" src="https://i.imgur.com/1LF30id.jpg" style="height: 250px;">
                     </div>
                 </div>
            </div>
       </div>
       
    </div>

	<div class="row">
		<div class="col-md-12 col-centered">

			<div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-col">
							<img class="d-block w-100" src="https://i.imgur.com/1LF30id.jpg" alt="First slide">
						</div>
					</div>
					<div class="item">
						<div class="carousel-col">
							<img class="d-block w-100" src="https://i.imgur.com/I6Xgsio.jpg" alt="Second slide">
						</div>
					</div>
					<div class="item">
						<div class="carousel-col">
							<img class="d-block w-100" src="https://i.imgur.com/oFQUCKx.jpg" alt="Third slide">
						</div>
					</div>
					<div class="item">
						<div class="carousel-col">
							<img class="d-block w-100" src="https://i.imgur.com/VWn81YT.jpg" alt="Third slide">
						</div>
					</div>
				</div>

				 <!--Controls -->
				<div class="left carousel-control">
					<a href="#carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>
				<div class="right carousel-control">
					<a href="#carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
    <!--<hr/>-->

            <div class="Category" style="border-bottom: 1px solid red; margin-top: 15px; margin-bottom: 15px;">
              <table>
                <tr>
                <td width="75%" bgcolor="red">Vehicle</td>
              </tr>
              </table>
            </div>
  <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">

            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="https://i.imgur.com/vgZrB5U.jpg" style="height: 200px;" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title|slice:"60" }}</h4>
                        <p class="card-text text-muted h6">{{ post.Author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":110" }}</p>
                        <a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <small class="text-muted">Last updated 3 mins ago</small>-->
                <!--</div>-->
            </div>
            {% endfor %}

        </div>
        <div class="col-md-4 left">
            <div class="card my-4">
                <h5 class="card-header text-white bg-dark">Most viewed</h5>
                <div class="card-body">
                    <!--<p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial to learn how we made it..!</p>-->
                    <!--<a href="#" class="btn btn-danger">Know more!</a>-->
                    {% for post in post_list %}
                    <!--<h5 class="card-title">{{ post.title|slice:"60" }}</h5>-->
                    <a href="{% url 'blog:post_detail' post.slug  %}">{{ post.title|slice:"60" }}</a>
                    <p class="card-text text-muted h6">{{ post.Author }} | {{ post.created_on}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% comment %}
        {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
        {% endcomment %}
    </div>
 <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12 mt-3 left">
            <div class="Category1" style="border-bottom: 1px solid blue; margin-top: 15px; margin-bottom: 15px;">
              <table>
                <tr>
                <td width="75%" bgcolor="blue" color="white">
                    <a href="#">Crypto</a></td>
              </tr>
              </table>
            </div>
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/ZccahuC.jpg" style="height: 180px;"  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/O3lUGTr.jpg" style="height: 180px;" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/HwIbeq1.jpg" style="height: 180px;"  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
    
{%endblock%}